* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75482;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;

    --container-width-lg: 75%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition--primary: all 0.6s ease-in-out;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    transition: all 88ms;
    -webkit-transition: all 88ms;
    -moz-transition: all 88ms;
    -ms-transition: all 88ms;
    -o-transition: all 88ms;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    text-align: center;
    margin: 20px 10px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.img-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*===============
section-header
=================*/
.header {
    position: relative;
    width: 100%;
    min-height: 60vh;
    background: url(img/pexels-nothing-ahead-8537017.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5rem;
    text-align: center;
    background: transparent;
    padding: 10px 9%;
    z-index: 11;
}

/*change nav-bar when scroll*/
.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 4, 255, 0.3);
}

.header .nav-links ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 0;
    margin-right: 5%;
}

.header .nav-links ul li {
    margin: 0 30px;
    list-style: none;
    opacity: 0;
    animation: translate 2s ease forwards;
    -webkit-animation: translate 2s ease forwards;
}

.header .nav-links ul li:nth-child(1) {
    animation-delay: 1s;
}

.header .nav-links ul li:nth-child(2) {
    animation-delay: 1.25s;
}

.header .nav-links ul li:nth-child(3) {
    animation-delay: 1.5s;
}

.header .nav-links ul li:nth-child(4) {
    animation-delay: 1.75s;
}

@keyframes translate {
    0% {
        opacity: 0;
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

.header .nav-links ul li::after {
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    background: var(--color-danger);
    margin: auto;
}

.header .nav-links ul li:hover::after {
    animation: show-bottom-lines 1s ease-in-out forwards;
    -webkit-animation: show-bottom-lines 1s ease-in-out forwards;
}

@keyframes show-bottom-lines {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.nav-links ul li a {
    color: aqua;
}

.nav-links ul li a:hover {
    color: #4d4c4c;
    transition: var(--transition--primary);
    -webkit-transition: var(--transition--primary);
    -moz-transition: var(--transition--primary);
    -ms-transition: var(--transition--primary);
    -o-transition: var(--transition--primary);
}

.logo h4 {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    opacity: 0;
    animation: logoeffect 5s 1s ease forwards;
    -webkit-animation: logoeffect 5s 1s ease forwards;
}

.logo h4::before {
    content: attr(data-text);
    position: absolute;
    color: aqua;
    overflow: hidden;
    width: 0;
    border-right: 2px solid aqua;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    animation: logoeffect 1s ease infinite;
    -webkit-animation: logoeffect 4s 1s ease-in-out infinite;
}

@keyframes logoeffect {
    0% {
        width: 0%;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
        filter: drop-shadow(0 0 25px aqua);
        -webkit-filter: drop-shadow(0 0 8px aqua);
    }
}

.content-header {
    margin: 60px 0;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    animation: btn-translate 3s ease-in-out forwards;
    -webkit-animation: btn-translate 3s ease-in-out forwards;
}

.content-header p {
    margin: 40px 0;
}

@keyframes btn-translate {
    0%{
        opacity: 0;
        transform: translateX(600px);
        -webkit-transform: translateX(600px);
        -moz-transform: translateX(600px);
        -ms-transform: translateX(600px);
        -o-transform: translateX(600px);
}
    100%{
       opacity: 1;
       transform: translateX(0px);
       -webkit-transform: translateX(0px);
       -moz-transform: translateX(0px);
       -ms-transform: translateX(0px);
       -o-transform: translateX(0px);
}
}

/*===============
section-categories
=================*/
.categories {
    background: #3d3996;
    margin: 100px 0;
    height: 26rem;
}
.row{
    display: grid;
    grid-template-columns: 40% 60%;
    width: var(--container-width-lg);
}

.categories .text-left p{
    margin: 20px 10px;
}

.categories .text-left .btn{
    width: 150px;
}

.categories .cards-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    background-color: transparent;
    gap: 10px;
    width: 100%;
}

.categories .cards-right > div {
    background:#354172;
    padding: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 247, 255, 0.9);
}
.cards-right .card p{
    font-size: small;
}
